* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 80vh;
  width: 80vw;
  background: rgb(197, 187, 187);
}
