* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgb(197, 187, 187);
}
.container {
  height: 90vh;
  width: 90vw;
  background: white;
  align-self: center;
  margin-top: 5vh;
  box-shadow: 10px 10px 10px black;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}
.header {
  height: 10vh;
  width: inherit;
  padding: 10px;
  text-align: center;
  vertical-align: center;
  background: rgb(10, 15, 78);
  color: white;
  font-size: 2rem;
  border-radius: 20px 20px 0 0;
}
.last-on-row {
  max-width: 10px;
}
.main {
  height: 70vh;
  max-height: 80vh;
  width: inherit;
  flex-flow: column nowrap;
  display: flex;
  justify-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.btn-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 5vw 0 0;
}
th,
td {
  text-align: center;
  border-collapse: separate;
  border: 1px solid gray;
  padding: 10px;
  max-width: 8vw;
}
.add {
  background: rgb(10, 15, 78);
  padding: 20px;
  border-radius: 20px;
  outline: none;
  color: white;
  box-shadow: 10px black;
}
.edit-btn {
  align-self: flex-end;
  padding: 5px;
  outline: none;
  border-radius: 20px;
  margin-right: -60px;
}
.form {
  height: 60vh;
  max-height: 60vh;
  max-width: 50vw;
  width: 40vw;
  position: absolute;
  align-self: center;
  border-radius: 20px;
  padding: 0 20px 20px 20px;
  background-color: rgb(10, 15, 78);
  display: flex;
  flex-flow: column;
  box-shadow: 10px black;
  background: rgb(197, 187, 187);
  border: 1px black;
  display: none;
}
.form-container {
  height: 40vh;
  width: 40vw;
  background: rgb(197, 187, 187);
  align-self: center;
  justify-self: center;
  display: flex;
  flex-flow: column;
  padding: 30px;
}
.form-field {
  display: flex;
  flex-flow: column;
}
label {
  font-size: 1.5em;
  text-transform: capitalize;
}
label::after {
  content: ':';
}
.form-header {
  border-radius: 20px 20px 0 0;
  background-color: red;
  background: rgb(10, 15, 78);
  width: 40vw;
  color: white;
  height: 10vh;
  align-self: center;
  text-align: center;
}
.form-field-input {
  padding: 2px;
  border-radius: 20px;
  margin: 5px;
}
.confirm {
  align-self: flex-end;
}
.semi-input {
  border: none;
  outline: none;
}
